.displayTaskContainer{
    margin-top:4rem;
    height:28.1875rem;
    background: gray;
}.displayTaskContainer > header {
    height:2.6875rem;
    background:var(--gray-600);
    display: flex;
    justify-content: space-between;
}.createdTaskText{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    color:var(--blue);
}.createdTaskCount{
    color: var(--gray-200)!important;
    font-style: normal;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    font-family: 'Inter';
    margin-left:0.5rem;
    padding-top: 0.0625rem;
    width: 24px;
    height: 19px;
    background:var(--gray-400);
    padding: 0.125rem 0.5rem;
    border-radius: 999px;
    margin:auto;
    margin-left:0.5rem;

}.doneTasksText{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    font-style: normal;
    color:var(--purple);
}.doneTasksStatus{
    font-style: normal;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    font-family: 'Inter';
    color:var(--gray-200)!important;
    padding-right: 0.5rem;
    padding-top: 0.0625rem;
    margin-left:0.5rem;
    width: 25px;
    height: 19px;
    background:var(--gray-400);
    border-radius: 999px;
    padding: 0.125rem 0.5rem;

}.taskList li{
    height:4.5rem;
    padding-top: 1rem;
    padding-top: 1rem;
    padding-bottom:1rem;
    padding-right: 1.345rem;
    padding-left:1.20437rem;
    display:flex;
    
}.taskList > img{
    height:2.25rem; 
}
