.newTaskBox{
    background: transparent;
    height: 3.375rem;
    display: grid;
    grid-template-columns: 1fr 5.625rem;
    gap: 0.5rem;
    resize: none;
    margin-top: -1.6875rem;
}
.newTaskBox >textarea{
    border-radius: 8px;
    padding: 1rem;
    background: var(--gray-500);
    border: 1px solid var(--gray-700);
    resize: none;


}.newTaskBox >button{
    height:3.25rem;
    width:5.625rem;
    background:var(--blueDark);
    border:none;
    border-radius: 8px;
    margin-top: 0.0625rem;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.4;
    font-style: normal;
    color:var(--gray-100);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    
}


