.newTaskBox{
height: 3.375rem;
width:46rem;
background:gray;
display: flex;
gap: 0.5rem;
}
.newTaskBox >textarea{
    height: 3.375rem;
    width:39.875rem;
    border-radius:8px;
    resize:none;
    box-sizing: border-box;
    padding:1rem;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1rem;
    font-style: normal;


}.newTaskBox >button{
    height:3.25rem;
    width:5.625rem;
    background:var(--blueDark);
    border:none;
    border-radius: 8px;
    margin-top: 0.0625rem;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.4;
    font-style: normal;
    color:var(--gray-100);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    
}


